<h2>🄼<span>enu</span></h2>
<ol>
    <li ng-class="{__isActive: vm.state.$current.name == 'dashboard'}" ui-sref="dashboard">Creating your first scene</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'drawingLines'}" ui-sref="drawingLines">Drawing lines</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'rotatingCamera'}" ui-sref="rotatingCamera">Rotating camera</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'lightingFirstBase'}" ui-sref="lightingFirstBase">Lighting first base</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'orbitControls'}" ui-sref="orbitControls">Orbit controls</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'curaWorld'}" ui-sref="curaWorld">Cura world</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'csg'}" ui-sref="csg">CSG</li>
    <li ng-class="{__isActive: vm.state.$current.name == 'polylineTest'}" ui-sref="polylineTest">Polyline test</li>
</ol>
